body {
    text-align:center;
    background:url("../main/bg-imgs/art.jpg"); /*looks for images from the viewpoint of the css file*/
    background-size:cover;
}

.jumbotron {
    background:black;
    font-family:Verdana;
    font-weight:bold;
    color:white;
    margin-bottom: 0px;
    padding: 10px 0px;
}

.display-content {
    margin: 0% 10%;
    padding: 5% 0%;
    background-color:#6495ED;
    font-size: 150%;
    font-weight: bold;
    min-height: 100%;
}


/*IMAGE STYLING*/
img {
    height: 50%;
    width:50%;
    padding:20px;
    border:solid;
    border-width:15px;
}

.imgandcap {
    margin-left:auto;
    margin-right:auto;
    margin-bottom:2%;
}

/*CLOCK STYLING*/
.clock {
    font-family:monospace;
    font-weight:bold;
    font-size:1.5em;
}
