/*PAGE LAYOUT*/

html, body {
    height:100%;
    text-align:center;
}

body {
    background:url("../main/bg-imgs/gallery.jpg"); /*looks for images from the viewpoint of the css file*/
    background-size:cover;
}

.wrap {
    min-height: 100%;
    height: auto;
    /* Negative indent footer by its height */
    margin: 0 auto -190px;
    /* Pad bottom by footer height */
    padding: 0 0 190px;
}

.jumbotron {
    background:black;
    font-family:Verdana;
    font-weight:bold;
    color:white;
    margin-bottom: 0px;
}

/*--------------------------------------------


/*columns*/

.columns {
    margin:7% auto;
    width:60%;
}

.home-container {
    font-family:"Courier New", Courier, monospace;
    font-weight:bold;
    font-size:1.2em;
}

.login, .register {
    background-color:#81DAF5;
    height:240px;
    padding-top:3%;
    padding-left:3%;
    border-radius: 6px 6px 6px 6px;
}

.footer {
    height: 190px;
    border-color:#848484;
    background-color:black;
    color:#D8D8D8;
    padding-top: 1%;
}
