/*PAGE LAYOUT*/

html, body {
    height:100%;
    text-align:center;
}

body {
    background:url("../src/background-imgs/gallery.jpg"); /*looks for images from the viewpoint of the css file*/
    background-size:cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.wrap {
    min-height: 100%;
    height: auto;
}

.jumbotron {
    background:black;
    font-family:Verdana;
    font-weight:bold;
    color:white;
    margin-bottom:0px;
    padding: 10px 0px;
}

/*--------------------------------------------


/*columns*/

.columns {
    position: absolute;
    margin:9% 10%;
    width:80%;
}

.home-container {
    font-family:"Courier New", Courier, monospace;
    font-weight:bold;
    font-size:1.2em;
}

.login, .register {
    background-color:#81DAF5;
    height:240px;
    padding-left:1%;
    border-radius: 6px 6px 6px 6px;
}

.login {
    padding-top: 5%;
}

.register{
    padding-top: 2%;
}

/*--------------------------------------------

/*footer*/

#footer {
    border-color:#848484;
    background-color:black;
    color:#D8D8D8;
}

/*--------------------------------------------

/*media queries*/


/*max width*/
@media (max-width: 991px) {

    #footer {
        display: none;
    }

    .register {
	margin-top: 10%;
    }

}

@media (max-width: 767px) {

    .login {
	padding-top: 5%;
    }

    .form-control {
	width: 60%;
	margin-left:1%;
    }

    .control-label {
        float: left;
	margin-left: 3%;
    }
}

@media (max-width: 400px) {

    .control-label {
        padding-right: 1px;
    }
}

/*min width*/
@media (min-width: 768px) {

    .form-control {
	width: 75%;
    }
}
