/*PAGE LAYOUT*/

html, body {
    height:100%;
    text-align:center;
}

body {
    background:url("../main/background-imgs/gallery.jpg"); /*looks for images from the viewpoint of the css file*/
    background-size:cover;
}

.wrap {
    min-height: 100%;
    height: auto;
}

.jumbotron {
    background:black;
    font-family:Verdana;
    font-weight:bold;
    color:white;
    margin-bottom:0px;
    padding: 10px 0px;
}

/*--------------------------------------------


/*columns*/

.columns {
    position: absolute;
    margin:9% 10%;
    width:80%;
}

.home-container {
    font-family:"Courier New", Courier, monospace;
    font-weight:bold;
    font-size:1.2em;
}

.login, .register {
    background-color:#81DAF5;
    height:240px;
    padding-left:1%;
    border-radius: 6px 6px 6px 6px;
}

.login {
    padding-top: 5%;
}

.register{
    padding-top: 2%;
}

/*--------------------------------------------

/*footer*/

#footer {
    border-color:#848484;
    background-color:black;
    color:#D8D8D8;
}
