body {
    text-align:center;
    background:url(http://miriadna.com/desctopwalls/images/max/Walking-path.jpg); /*looks for images from the viewpoint of the css file*/
    background-size:cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.wrap {
    background-color: white;
    margin: 10% 30%;
    padding: 1% 1% 0%;
    border: groove orange;
    border-radius: 10%;
}

/*----------------------------------*/

@media (max-width: 767px) {

    .wrap {
	margin: 10% 25%;
    }

}

@media (max-width: 500px) {

    .wrap {
	margin: 10% 15%;
    }

}
