body {
    text-align:center;
    background:url(bg-imgs/art.jpg);
    background-size:cover;
}

.jumbotron {
    background:black;
    font-family:Verdana;
    font-weight:bold;
    color:white;
    margin-bottom: 0px;
}


.profile-content {
    margin: 0px 200px;
    padding: 5% 0%;
    background-color:#6495ED;
    font-size: 150%;
    font-weight: bold;
    min-height: 100%;
}

/*FOR IMG*/
.square {
    height: 15%;
    width: auto;
}

/*FOR IMG FORM*/
.prof-img {
    width: 33%;
}

/*FOR SELECT FORM*/
.dropdown_container {
    display: table;
    margin: 0px auto;
}

.dropdown_class {
    width:auto;
}

/*IE FIX FOR SELECT FORM*/
#dropdown_id {
    width:100%;
}

:focus#dropdown_id {
    width:auto\9;
}

/*FOR TEXTAREA FORM*/
.textarea {
    width: 50%;
}
