body {
    text-align:center;
    background:url("../main/bg-imgs/art.jpg"); /*looks for images from the viewpoint of the css file*/
    background-size:cover;
}

.jumbotron {
    background:black;
    font-family:Verdana;
    font-weight:bold;
    color:white;
    margin-bottom: 0px;
    padding: 10px 0px;
}

.select-form {
    margin: 0% 10%;
    padding: 5% 0%;
    background-color:#6495ED;
    font-size: 150%;
    min-height: 100%;
}

.color {
    width: 50%;
}
